<header>
    <div class="navbar">
        <a href="/">
            Home
        </a>
        <a href="/login">
            Login
        </a>
        <a href="/register">
            Registro
        </a>
    </div>
</header>