<header>
    <div class="navbar">
        <a href="/">
            Home
        </a>
        <a href="/users">
            User list
        </a>
        <a href="/login">
            Login
        </a>
        <a href="/register">
            Registro
        </a>
        <a href="/songlist">
            Song List
        </a>
        <a href="/clientlist">
            Client List
        </a>
    </div>
</header>