<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div>
       Your first name here: <%= user.first_name %>
      </div>
      <div>  
        Your last name here:  <%= user.last_name %>
      </div>
    <div> Your avatar here: <br>
   <img src="<%= user.avatar %>" alt="Prueba imagen" class="avatar" style="width: 50%;">
    </div>
   <div> Your e-mail here: <%= user.email %>
   </div>

   <a href="/">Home</a>


</body>
</html>