*{
  margin: 0%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: chocolate;
}

a {
  color: #00B7FF;
}

.navbar{
  display: flex;
  width: auto;
  justify-content: space-around;
  background-color: aliceblue;
  padding: 5% 0;
  border: gold 5px solid;

}

.navbar a{
  font-size: large;
  color: cornflowerblue;
  font-weight: bolder;
  text-decoration: none;
  transition: ease-in-out 0.5s all;
}

.navbar a:hover{
background-color: goldenrod;
padding: 0 5% ;
color: navy;
}

.userBox{
  background-color: beige;
  margin: 0 10%;
  padding: 5% 0;
  width: 20%;
  text-align: center;
}

.userlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detailIMG{
  width: 50%;
}